* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgba(11,12,16,1) 28%, rgba(10,11,14,1) 50%, rgba(0,0,0,1) 100%);
  font-family: 'Orbitron', sans-serif;
  color: #c5c6c7;

  .container {
    display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #293341;
    border-radius: 20px;
    border-right: #000000e3 solid 2px;
    border-bottom: #000000d3 solid 2px;
    border-left: #3c5963 solid 2px;
    border-top: #2f464e solid 2px;
    padding-top: 15px;
    font-weight: 500;

    p {
      margin-left: 18px;
      margin-bottom: 4px;
      color: #627776;
      text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.381);
    }

    .counter-and-buttons-container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 7px;
      .counter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 67px;
        height: 180px;
        width: 180px;
        background-color: #13151b;
        border-right: #3c5963 solid 2px;
        border-bottom: #2f464e solid 2px;
        font-family: 'Orbitron', sans-serif;
        color: rgb(56, 73, 66);
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.781);
        box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.60);
      }
  
      .button-container {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .button {
          cursor: pointer;
          padding-bottom: 20px;
          height: 68px;
          width: 40px;
          background-color: rgb(79, 110, 98);
          color: #c5c6c7;
          text-shadow: 2px 1px 1px #000;
          border: none;
          font-size: 45px;
          border-radius: 5px;
          border-right: #0b0c10dc solid 2px;
          border-bottom: #0b0c10d3 solid 2px;
          border-left: #597983cc solid 2px;
          border-top: #597983a9 solid 2px;
          font-family: 'Orbitron', sans-serif;

          &:disabled {
            opacity: 0.6;
            pointer-events: none;
          }

          &:active {
            border-right: #597983cc solid 2px;
            border-bottom: #597983a9 solid 2px;
            border-left: #0b0c10dc solid 2px;
            border-top: #0b0c10d3 solid 2px;
            padding-left: 2px;
            padding-top: 2px;
          }
        }
      }
    }
    .reset-button {
      text-align: center;
      height: 20px;
      width: 75px;
      background-color: rgb(110, 79, 79);
      border-radius: 5px;
      border-right: #0b0c10dc solid 2px;
      border-bottom: #0b0c10d3 solid 2px;
      border-left: #597983cc solid 2px;
      border-top: #597983a9 solid 2px;
      font-family: 'Orbitron', sans-serif;
      font-weight: 500;
      color: #c5c6c7c0;
      text-shadow: 2px 1px 1px #000;
      font-size: 12px;
      margin-left: 24px;
      padding-bottom: 5px;
      letter-spacing: 1.2px;
      cursor: pointer;

      &:active {
        border-left: #0b0c10dc solid 2px;
        border-top: #0b0c10d3 solid 2px;
        border-right: #597983cc solid 2px;
        border-bottom: #597983a9 solid 2px;
        padding-left: 2px;
        padding-top: 2px;
      }
    }
  }
}